{
  "openapi": "3.0.0",
  "info": {
    "title": "API documentation",
    "description": "<p>Explore OnLocation's API reference documentation. References include:</p><ul><li>Certifications</li><li>Custom questionnaires</li><li>Custom fields</li><li>Contractors</li><li>Employees</li><li>Inductions</li><li>Locations</li><li>Notifications</li><li>Visitors</li></ul>",
    "contact": {
      "email": "support@whosonlocation.com"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.whosonlocation.com/v1"
    }
  ],
  "paths": {
    "/asset": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List assets",
        "description": "Returns a list of assets.",
        "operationId": "getAssetList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any asset value.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "name:iPhone4"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return (maximum 5000).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "403": {
            "description": "Access denied to this resource"
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create an asset",
        "description": "Creates a new asset with the provided details.",
        "operationId": "createAsset",
        "requestBody": {
          "description": "Information used to create a new asset record",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/asset/{id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Retrieve an asset",
        "description": "Retrieves an asset by its ID.",
        "operationId": "getAsset",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset to retrieve",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Asset not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Update an asset",
        "description": "Updates the details of an asset.",
        "operationId": "updateAsset",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information used to update the asset record",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete an asset",
        "description": "Deletes an asset by its ID.",
        "operationId": "deleteAsset",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Asset deleted successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Asset not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/asset/{id}/issue": {
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Issue an asset",
        "description": "Issue an asset with the provided details, this will create a new asset movement.",
        "operationId": "issueAsset",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information used to issue an asset",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetmovementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetmovementResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssetmovementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/asset/{id}/return": {
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Return an asset",
        "description": "Return an asset with the provided details.",
        "operationId": "returnAsset",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetmovementResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssetmovementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/assetgroup": {
      "get": {
        "tags": [
          "Asset groups"
        ],
        "summary": "List asset groups",
        "description": "Returns a list of asset groups.",
        "operationId": "getAssetGroupList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any asset group value.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "name:desks,class:fixed,description:anydescriptions"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return (maxiumum 5000).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          }
        ],
        "responses": {
          "200": {
            "description": "List of asset groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetgroupResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetgroupResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "post": {
        "tags": [
          "Asset groups"
        ],
        "summary": "Create an asset group",
        "description": "Creates a new asset group that can be assigned to an asset.",
        "operationId": "createAssetGroup",
        "requestBody": {
          "description": "Information to use when creating a new asset group record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetgroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetgroupResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/assetgroup/{id}": {
      "get": {
        "tags": [
          "Asset groups"
        ],
        "summary": "Retrieve an asset group",
        "description": "Retrieves a single asset group, filtering with the provided ID.",
        "operationId": "getAssetGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset group to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetgroupResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssetgroupResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Asset groups"
        ],
        "summary": "Update an asset group",
        "description": "Updates the details of an asset group.",
        "operationId": "updateAssetGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset group to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information used to update the asset group record",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetgroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetgroupResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssetgroupResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Asset groups"
        ],
        "summary": "Delete an asset group",
        "description": "Deletes an asset group using the provided ID.",
        "operationId": "deleteAssetGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset group to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Asset Group deleted"
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/assetmovement": {
      "get": {
        "tags": [
          "Asset movements"
        ],
        "summary": "List asset movements",
        "description": "Returns a list of asset movements.",
        "operationId": "getAssetMovementList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any asset movement value.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "asset_id:1,assigned_staff_id:2,assigned_type:staff"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return (maxiumum 5000).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          }
        ],
        "responses": {
          "200": {
            "description": "List of asset movements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetmovementResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetmovementResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/assetmovement/{id}": {
      "get": {
        "tags": [
          "Asset movements"
        ],
        "summary": "Get asset movement by ID",
        "description": "Returns a single asset movement.",
        "operationId": "getAssetMovement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset movement to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset movement data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetmovementResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssetmovementResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Asset movement not found"
          }
        }
      },
      "put": {
        "tags": [
          "Asset movements"
        ],
        "summary": "Update an asset movement",
        "description": "Updates the details of an asset movement.",
        "operationId": "updateAssetMovement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset movement to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information used to update the asset movement record",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetmovementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetmovementResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssetmovementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/assettype": {
      "get": {
        "tags": [
          "Asset types"
        ],
        "summary": "List asset types",
        "description": "Returns a list of asset types.",
        "operationId": "getAssetTypeList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any asset type value.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "name:macbooks,description:anydescriptions"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return (maxiumum 5000).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          }
        ],
        "responses": {
          "200": {
            "description": "List of asset types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssettypeResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssettypeResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "post": {
        "tags": [
          "Asset types"
        ],
        "summary": "Create an asset type",
        "description": "Creates a new asset type that can be assigned to an asset.",
        "operationId": "createAssetType",
        "requestBody": {
          "description": "Information to use when creating a new asset type record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssettypeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset Type created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssettypeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/assettype/{id}": {
      "get": {
        "tags": [
          "Asset types"
        ],
        "summary": "Retrieve an asset type",
        "description": "Retrieves a single asset type, filtering with the provided ID.",
        "operationId": "getAssetType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset type to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssettypeResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssettypeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Asset types"
        ],
        "summary": "Update an asset type",
        "description": "Updates the details of an asset type.",
        "operationId": "updateAssetType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset type to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information used to update the asset type record",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssettypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssettypeResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AssettypeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Asset types"
        ],
        "summary": "Delete an asset type",
        "description": "Deletes an asset type using the provided ID.",
        "operationId": "deleteAssetType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the asset type to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Asset Type deleted"
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/audit": {
      "get": {
        "tags": [
          "Audit log"
        ],
        "summary": "List audit logs",
        "description": "Returns a list of audit logs.",
        "operationId": "getAuditlogList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any audit log value.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "audit_table:staff;sp_member,user_name:john@example.com,audit_timestamp>2022-05-01"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return (maxiumum 5000).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          }
        ],
        "responses": {
          "200": {
            "description": "List of audit logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/audit/settings": {
      "get": {
        "tags": [
          "Audit log"
        ],
        "summary": "Retrieve available audit settings",
        "description": "Retrieves an audit settings object.",
        "operationId": "getAuditSettings",
        "responses": {
          "200": {
            "description": "Audit settings"
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/certification": {
      "get": {
        "tags": [
          "Certifications"
        ],
        "summary": "List all certifications",
        "description": "<p>Returns a list of all certifications.</p><p>A comma separated list of tag:value search parameters, a colon separator performs an exact match, a percent separator performs a starts-with search and greater/less than search number/date ranges.</p>",
        "operationId": "getCertificationList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any certification value.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "holders>5"
          }
        ],
        "responses": {
          "200": {
            "description": "List of certifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificationResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificationResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Certifications"
        ],
        "summary": "Create a certification",
        "description": "Creates a new certification that can be assigned to employees or contractors.",
        "operationId": "createCertification",
        "requestBody": {
          "description": "Information to use when creating a new certification record.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Certification created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "409": {
            "description": "Already exists with that name"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/certification/{id}": {
      "get": {
        "tags": [
          "Certifications"
        ],
        "summary": "Retrieve a certification",
        "description": "Retrieves a single certification, filtering with the provided ID.",
        "operationId": "getCertification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Certifications"
        ],
        "summary": "Update a certification",
        "description": "Updates the details of a certification.",
        "operationId": "updateCertification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information used to create the certification record",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "409": {
            "description": "Certification already exists with that name"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Certifications"
        ],
        "summary": "Delete a certification",
        "description": "Deletes a certification using the provided ID.",
        "operationId": "deleteCertification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Certification deleted"
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/certification/{id}/holder": {
      "get": {
        "tags": [
          "Certification holders"
        ],
        "summary": "List all certification holders",
        "description": "<p>Returns a list of the employees or contractors that hold the specified certification.</p><p>A comma separated list of tag:value search parameters, a colon separator performs an exact match, a percent separator performs a starts-with search and greater/less than search number/date ranges.</p>",
        "operationId": "getCertificationHolderList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification to retrieve holders for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "5"
          }
        ],
        "responses": {
          "200": {
            "description": "List of employees or contractors that hold the certification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificationHolderResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificationHolderResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Certification holders"
        ],
        "summary": "Create a certification holder",
        "description": "Adds a new certification holder association.",
        "operationId": "createCertificationHolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification to create a holder association for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificationHolderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationHolderResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/certification/{id}/holder/{hid}": {
      "get": {
        "tags": [
          "Certification holders"
        ],
        "summary": "Retrieve a certification holder",
        "description": "Retrieves the details of a specific certification holder",
        "operationId": "getCertificationHolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification to retrieve holders for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hid",
            "in": "path",
            "description": "ID of the certification holder to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the certification holder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationHolderResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationHolderResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Certification holders"
        ],
        "summary": "Update a certification holder",
        "description": "Updates a certification holder's details.",
        "operationId": "updateCertificationHolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hid",
            "in": "path",
            "description": "ID of the certification holder association to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information used to create the certification holder association",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificationHolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationHolderResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationHolderResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Certification holders"
        ],
        "summary": "Delete a certification holder",
        "description": "Deletes the specified certification holder association record.",
        "operationId": "deleteCertificationHolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hid",
            "in": "path",
            "description": "ID of the certification holder association to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Certification holder deleted"
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/certification/{id}/holder/{hid}/document": {
      "get": {
        "tags": [
          "Certification holder documents"
        ],
        "summary": "List of certification documents",
        "description": "Retrieves a list of documents for a specified certification holder and specified certification",
        "operationId": "getCertificationHolderDocuments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification to retrieve holders for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hid",
            "in": "path",
            "description": "ID of the certification holder to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of certification holder documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Certification holder documents"
        ],
        "summary": "Adds a certification document",
        "description": "Adds a new certification holder document.",
        "operationId": "saveCertificationHolderDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hid",
            "in": "path",
            "description": "ID of the certification holder",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "description": "file to upload",
                    "type": "string",
                    "format": "file"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document added"
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/certification/{id}/holder/{hid}/document/{did}": {
      "get": {
        "tags": [
          "Certification holder documents"
        ],
        "summary": "Retrieve a certification document",
        "description": "Retrieves a certification holder document, filtering with the provided ID",
        "operationId": "getCertificationHolderDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification to retrieve holders for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hid",
            "in": "path",
            "description": "ID of the certification holder to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "did",
            "in": "path",
            "description": "ID of the document to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The specified document to be retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource."
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Certification holder documents"
        ],
        "summary": "Delete a certification document",
        "description": "Deletes the specified certification holder document.",
        "operationId": "deleteCertificationHolderDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hid",
            "in": "path",
            "description": "ID of the certification holder association",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "did",
            "in": "path",
            "description": "ID of the document to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource Deleted"
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/certification/types": {
      "get": {
        "tags": [
          "Certification types"
        ],
        "summary": "List all certification types",
        "description": "<p>Retrieves a list of all certification types.</p><p>A comma separated list of tag:value search parameters, a colon separator performs an exact match, a percent separator performs a starts-with search and greater/less than search number/date ranges.</p>",
        "operationId": "getCertificationTypeList",
        "responses": {
          "200": {
            "description": "List of certification types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificationTypeResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificationTypeResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Certification types"
        ],
        "summary": "Create a certification type",
        "description": "Adds a new certification type to assign to a certification.",
        "operationId": "createCertificationType",
        "requestBody": {
          "description": "Type of certification to add:",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificationTypeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Certification type created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationTypeResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationTypeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "409": {
            "description": "Type already exists"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/certification/types/{id}": {
      "get": {
        "tags": [
          "Certification types"
        ],
        "summary": "Retrieve a certification type",
        "description": "Retrieves a single certification type, filtering with the provided ID.",
        "operationId": "getCertificationType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification type to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certification type response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationTypeResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationTypeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Certification types"
        ],
        "summary": "Update a certification type",
        "description": "Updates a single certification type.",
        "operationId": "updateCertificationType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the certification type to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information used to create the certification type record",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificationTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated certification type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationTypeResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationTypeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Certification types"
        ],
        "summary": "Delete a certification type",
        "description": "Deletes the specified certification type.",
        "operationId": "deleteCertificationType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Certification Type to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Certification type deleted"
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/community": {
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "List of all communities",
        "description": "<p>Returns a list of all communities</p><p>A comma separated list of tag:value search parameters, a colon separator performs an exact match, a percent separator performs a starts-with search and a greater/less than separator searches number/date ranges.</p>",
        "operationId": "getCommunityList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any community value,",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "name%Student"
          }
        ],
        "responses": {
          "200": {
            "description": "List of communities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Create a community",
        "description": "Creates a new community.",
        "operationId": "createCommunity",
        "requestBody": {
          "description": "Information to use when creating a new community record.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Community created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/community/{id}": {
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "Retrieve a community",
        "description": "Retrieves a single community, filtering with the provided ID.",
        "operationId": "getCommunity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the community to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Communities"
        ],
        "summary": "Update a community",
        "description": "Updates a community.",
        "operationId": "updateCommunity",
        "requestBody": {
          "description": "Information to use when updating a new community record.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Community updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/community/{community_id}/field": {
      "get": {
        "tags": [
          "Community field list"
        ],
        "summary": "List all community fields",
        "description": "<p>Retrieves a list of community fields</p>",
        "operationId": "getCommunityFieldList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any property",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "id:1234"
          }
        ],
        "responses": {
          "200": {
            "description": "List of community fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityFieldResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityFieldResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Community not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/community/{community_id}/movement": {
      "get": {
        "tags": [
          "Community member movements"
        ],
        "summary": "List all community-member movements",
        "description": "<p>Retrieves a list of community-member movement records.</p>",
        "operationId": "getCommunityMemberMovementList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filters the result. See <a href='/developer-portal/using-the-api/#filtering'>Using the API</a> for more information.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "community_id:123456"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order by any element returned, prefix with a - to reverse order.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "id"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "description": "A UTC timestamp (yyyy-mm-ddThh:mm:ss). Only entities created or modified since this timestamp will be returned e.g. 2009-11-12T00:00:00",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of community-member movement records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityMemberMovementResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityMemberMovementResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Community member movements"
        ],
        "summary": "Create or update a community-member movement",
        "description": "Creates or updates an community-member movement record.",
        "operationId": "createOrUpdateCommunityMemberMovement",
        "requestBody": {
          "description": "Data required to create or update an community member movement:",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunityMemberMovementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated movement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMemberMovementResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMemberMovementResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/community/{community_id}/movement/{id}": {
      "get": {
        "tags": [
          "Community member movements"
        ],
        "summary": "Retrieve a community member movement x",
        "description": "Retrieves a single community member movement, filtering with the provided ID.",
        "operationId": "getCommunityMemberMovement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the community member movement to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMemberMovementResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMemberMovementResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/community/{community_id}/tab": {
      "get": {
        "tags": [
          "Community field tabs"
        ],
        "summary": "List all community field tabs",
        "description": "<p>Retrieves a list of community field tabs and their order</p>",
        "operationId": "getCommunityTabList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Community ID to filter by.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "community/1/tab"
          }
        ],
        "responses": {
          "200": {
            "description": "List of community field tabs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityTabResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityTabResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Community not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/community/{community_id}/member": {
      "get": {
        "tags": [
          "CommunityMembers"
        ],
        "summary": "List of all community members",
        "description": "<p>Returns a list of all community members</p><p>A comma separated list of tag:value search parameters, a colon separator performs an exact match, a percent separator performs a starts-with search and a greater/less than separator searches number/date ranges.</p>",
        "operationId": "getCommunityMemberList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any community member value,",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "year:3"
          }
        ],
        "responses": {
          "200": {
            "description": "List of community members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityMemberResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityMemberResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "CommunityMembers"
        ],
        "summary": "Create a community member",
        "description": "Creates a new community member.",
        "operationId": "createCommunityMember",
        "requestBody": {
          "description": "Information to use when creating a new community member record.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunityMemberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Community created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMemberResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/community/{community_id}/member/{id}": {
      "get": {
        "tags": [
          "CommunityMembers"
        ],
        "summary": "Retrieve a community member",
        "description": "Retrieves a single community member, filtering with the provided ID.",
        "operationId": "getCommunityMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the community member to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMemberResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMemberResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "CommunityMembers"
        ],
        "summary": "Update a community member",
        "description": "Updates the details of a community member.",
        "operationId": "updateCommunityMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the community member to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information used to create the community member record",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunityMemberUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMemberResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMemberResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "CommunityMembers"
        ],
        "summary": "Delete a community member",
        "description": "Deletes a community member using the provided ID.",
        "operationId": "deleteCommunityMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the community member to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Community member deleted"
          },
          "403": {
            "description": "Access denied to resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/custom-questionnaire": {
      "get": {
        "tags": [
          "Custom questionnaires"
        ],
        "summary": "List all custom questionnaires",
        "description": "<p>Returns a list of all custom questionnaire records. The endpoint is limited to a maximum of 5,000 records.</p><p>A comma separated list of tag:value search parameters, a colon separator performs an exact match, a percent separator performs a starts-with search and greater/less than search number/date ranges.</p>",
        "operationId": "getCustomQuestionnaireList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any custom questionnaire value.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "498"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies an element to order by. To order in reverse order, prepend the element with '-'.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "id"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specifies which page of results to return, most effective when used together with the 'limit' parameter",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "description": "A UTC timestamp (yyyy-mm-ddThh:mm:ss). Only entities created or modified since this timestamp will be returned e.g. 2009-11-12T00:00:00",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of custom questionnaire records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomQuestionnaireResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomQuestionnaireResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/custom-questionnaire/{id}": {
      "get": {
        "tags": [
          "Custom questionnaires"
        ],
        "summary": "Retrieve a custom questionnaire",
        "description": "Returns a custom questionnaire record filtered by the provided ID.",
        "operationId": "getCustomQuestionnaire",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the custom questionnaire to look for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The custom questionnaire element matching the passed in ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomQuestionnaireResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomQuestionnaireResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/custom-questionnaire/question": {
      "get": {
        "tags": [
          "Custom questions"
        ],
        "summary": "List all custom questions",
        "description": "<p>Returns a list of all custom questions. The endpoint is limited to a maximum of 5,000 records.</p><p>A comma separated list of tag:value search parameters, a colon separator performs an exact match, a percent separator performs a starts-with search and greater/less than search number/date ranges.</p>",
        "operationId": "getCustomQuestionnaireQuestionList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any custom questionnaire question value.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "498"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies an element to order by. To order in reverse order, prepend the element with '-'.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "id"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specifies which page of results to return, most effective when used together with the 'limit' parameter",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "description": "A UTC timestamp (yyyy-mm-ddThh:mm:ss). Only entities created or modified since this timestamp will be returned e.g. 2009-11-12T00:00:00",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of custom questions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomQuestionnaireQuestionResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomQuestionnaireQuestionResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/custom-questionnaire/question/{id}": {
      "get": {
        "tags": [
          "Custom questions"
        ],
        "summary": "Retrieve a custom question",
        "description": "Returns a custom question record filtered by the provided ID.",
        "operationId": "getCustomQuestionnaireQuestion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the question record to look for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The custom question record matching the passed in ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomQuestionnaireQuestionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomQuestionnaireQuestionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/custom-questionnaire/submission/answer": {
      "get": {
        "tags": [
          "Custom question answers"
        ],
        "summary": "List all custom question answers",
        "description": "<p>Returns a list of custom questionnaire submission answer records. The endpoint is limited to a maximum of 10,000 records.</p><p>A comma separated list of tag:value search parameters, a colon separator performs an exact match, a percent separator performs a starts-with search and greater/less than search number/date ranges.</p>",
        "operationId": "getCustomQuestionnaireSubmissionAnswerList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any custom questionnaire submission answer.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "submision_id:0"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies an element to order by. To order in reverse order, prepend the element with '-'.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "question_id: 982"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specifies which page of results to return, most effective when used together with the 'limit' parameter",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "description": "A UTC timestamp (yyyy-mm-ddThh:mm:ss). Only entities created or modified since this timestamp will be returned e.g. 2009-11-12T00:00:00",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of custom question answer records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomQuestionnaireSubmissionAnswerResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomQuestionnaireSubmissionAnswerResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/custom-questionnaire/submission/answer/{id}": {
      "get": {
        "tags": [
          "Custom question answers"
        ],
        "summary": "Retrieve a custom question answer",
        "description": "Returns a custom question answer record filtered by the passed in ID.",
        "operationId": "getCustomQuestionnaireSubmissionAnswer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the custom questionnaire submission to look for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The custom question answer element matching the passed in ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomQuestionnaireSubmissionAnswerResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomQuestionnaireSubmissionAnswerResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/custom-questionnaire/submission": {
      "get": {
        "tags": [
          "Custom questionnaire submissions"
        ],
        "summary": "List all custom questionnaire submissions",
        "description": "<p>Returns a list of custom questionnaire submission records. The endpoint is limited to a maximum of 10,000 records.</p><p>A comma separated list of tag:value search parameters, a colon separator performs an exact match, a percent separator performs a starts-with search and greater/less than search number/date ranges.</p>",
        "operationId": "getCustomQuestionnaireSubmissionList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter by any custom questionnaire submission.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "498"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies an element to order by. To order in reverse order, prepend the element with '-'.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "example": "-questionnaire_id"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits the amount of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "10"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specifies which page of results to return, most effective when used together with the 'limit' parameter",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "description": "A UTC timestamp (yyyy-mm-ddThh:mm:ss). Only entities created or modified since this timestamp will be returned e.g. 2009-11-12T00:00:00",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of custom questionnaire submission records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomQuestionnaireSubmissionResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomQuestionnaireSubmissionResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource."
          },
          "404": {
            "description": "No records are found matching the passed in filters"
          }
        }
      }
    },
    "/custom-questionnaire/submission/{id}": {
      "get": {
        "tags": [
          "Custom questionnaire submissions"
        ],
        "summary": "Retrieve a custom questionnaire submission",
        "description": "Returns a custom questionnaire submission record filtered by the passed in ID.",
        "operationId": "getCustomQuestionnaireSubmission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the custom questionnaire submission to look for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The custom questionnaire submission element matching the passed in ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomQuestionnaireSubmissionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomQuestionnaireSubmissionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access denied to this resource."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/customfield/element/{element_type}": {
      "get": {
        "tags": [
          "Custom fields"
        ],
        "summary": "List all custom fields",
[...]
